.landingpage{
  background-color: #151b6b;
  min-height: 1000px;
}
.App {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
  background-color: rgb(142, 181, 214);
  background: linear-gradient(to right, #e2e2e2, #c0d6ff);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  color: #40a2d8;
  font-size: 2rem;
  font-family: "Jomhuria", serif;
  font-size: 80px;
}

.herosection {
  color: rgb(224, 224, 224);
  display: flex;
  gap: 20px;
  height: 50vh;
  align-items: center;
}

.fleetsense {
  color: #308ac8;
  font-family: "Jomhuria", serif;
  font-size: 50px;
}

.herobus-image {
  width: 50pc;
  border-radius: 100px 20px 100px 20px;
}

.sign-in-button {
  background-color: #40a2d8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  width: 120px;
  font-family: "Inter", sans-serif;
  margin-top: 100px;
}

.sign-in-button:hover {
  background-color: #308ac8;
}

.herosection p {
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
}
